@{
    ViewData["Title"] = "Grade Calculator";

}
@model gradeModel;


<body>
    <div class="row">

        <div class="col-sm">
            <h3>Grade Calculator</h3>
            <h5>(All inputs as percentages)</h5>
            <!--Form to take percentages earned in each category-->
            <form method="post">
                <label>Assignments</label>
                <input id="txtAssignments" asp-for="asg" /><br />
                <label>Group Project</label>
                <input id="txtGroup" asp-for="group" /><br />
                <label>Quizzes</label>
                <input id="txtQuiz" asp-for="quiz" /><br />
                <label>Midterm Exam</label>
                <input id="txtMidterm" asp-for="mt" /><br />
                <label>Final Exam</label>
                <input id="txtFinal" asp-for="fn" /><br />
                <label>INTEX</label>
                <input id="txtINTEX" asp-for="itx" /><br />
                <input id="btnCalc" type="submit" value="Calculate" />

                <div asp-validation-summary="All"></div>
            </form>
        </div>
        <div class="col-sm" style="z-index:100;">
            <!--Empty tag recieves calculated grade-->
            <h4 id="fGrade"></h4>
            <br />
            <br />
        </div>
    </div>

</body>