@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div>
        <h1>Josh Bello</h1>
        <img class="pic" src="img/IMG_0911.jpeg" />
        <p>I want to learn to code more efficiently and become a master at c#. I have been asked if I am proficient in c# in interviews and when meeting with potential employers and I want to be able to say yes! I also want to learn the skills necesary to create personal projects and apps like a real estate companion app that gives important information to buyers about the area a home is located in.</p>

        <ul>
            <li>#1 Software developer</li>
            <li>#2 Cybersecurity</li>
            <li>#3 Data Analytics</li>
        </ul>
 
    </div>

</body>